<div class="row mainBody">
  <div class="col-sm-10 col-sm-offset-1">
    <div id="form-container">
    <!-- <div class="page-header text-center"><h2></h2></div> -->

      <div class="col-sm-8 col-sm-offset-2 form">
        <form ng-submit="vm.submitForm(vm.keyword)" novalidate>
          <div class="input-group">
            <input ng-model="vm.keyword" type="text" class="form-control" required autofocus placeholder="Search for Nike products (e.g. pants, roshe one, hats, mercurial)">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-success">
                  <span class="glyphicon glyphicon-flash"></span> Compare</button>
            </div>
          </div>
        </form>

        <div style="margin:30px;">
          <md-progress-circular class="loader" ng-show="vm.activated"></md-progress-circular>
        </div>

        <div class="alert alert-danger" ng-show="vm.error">
          <strong>Oops</strong> There was an error in scrapping data. Please try another keyword.
        </div>

        <!-- Stats and search form -->
        <div ng-show="vm.website" style="margin-top:50px;">
          <hr/>

          <a class="btn btn-info middle" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Statistics
          </a>
          <div class="collapse" id="collapseExample">
            <div class="well">
              <div class="row">
                <div class="col-sm-6">
                  <h4>Amazon - Averages</h4>
                  <h5>All:  <span class="average-price">${{ vm.averagesA.average_low }} - {{ vm.averagesA.average_high }}</span> </h5>
                  <h5>Men's:  <span class="average-price">${{ vm.averagesA.average_mens_low }} - {{ vm.averagesA.average_mens_high }}</span>  </h5>
                  <h5>Women's:  <span class="average-price">${{ vm.averagesA.average_womens_low }} - {{ vm.averagesA.average_womens_high }} </span> </h5>
                </div>
                <div class="col-sm-5">
                  <h4>Nike - Averages</h4>
                  <h5>All: <span class="average-price">${{ vm.averagesN.average_total }}</span> </h5>
                  <h5>Men's: <span class="average-price">${{ vm.averagesN.average_mens }}</span>  </h5>
                  <h5>Women's: <span class="average-price">${{ vm.averagesN.average_womens }}</span>  </h5>
                </div>
              </div>
              <!-- Bar chart -->
              <div class="row" style="padding:10px; margin:10px; display:block;">
                <h3>Bar chart for Nike average prices</h3>
                <div id="barDiv"></div>
              </div>
            </div>
          </div>

          <hr/>

          <div>
            <h4 style="margin-top:20px;">
              Search results by description, price or rating (if searching by price place $ in front)
            </h4>
            <form>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                  <input ng-model="vm.searchBy" type="text" class="form-control" placeholder="Search results...">
                </div>
              </div>
            </form>

            <hr/>
          </div>


        </div>
      </div>



      <div class="row">

        <!-- Amazon -->
        <div class="col-sm-4">
          <div class="row">
            <h2 style="margin-left:15px;" ng-show="vm.website">Amazon.com</h2>
            <ul ng-if="vm.items">
                <li ng-repeat="item in vm.items | filter:vm.searchBy ">
                  <div class="col-sm-10 col-width">
                    <md-card>
                        <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">{{ item.name }}</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                          <p class="price">
                            {{ item.price }}
                          </p>
                          <p class="rating">
                            {{ item.rating }}
                          </p>
                        </md-card-content>
                        <div class="image">
                          <img ng-src="{{ item.image }}" class="md-card-image" />
                        </div>
                      </md-card>
                  </div>
                </li>
              </ul>
          </div>
        </div>

        <!-- Nike  -->
        <div class="col-sm-5 nike">
          <div class="row">
            <h2 style="margin-left:15px;" ng-show="vm.website">Nike.com</h2>
            <ul ng-if="vm.itemsn">
                <li ng-repeat="item in vm.itemsn | filter:vm.searchBy ">
                  <div class="col-sm-12 col-width">
                    <md-card>
                        <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">{{ item.name }}</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                          <p class="price">
                            {{ item.price }}
                          </p>
                          <p class="rating">
                            {{ item.rating }}
                          </p>
                        </md-card-content>

                        <img ng-src="{{ item.image }}" class="md-card-image" style="padding:15px;" />
                      </md-card>
                  </div>
                </li>
              </ul>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
